body {
    margin: 0 auto;
    justify-content: flex-end;
    align-items: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(download-3.gif);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 300px black;
    animation: fadein 0.5s;
}



#square {
    opacity: 0.5;
    margin: auto;
    border-radius: 10px;
    width: 100px;
    background-color: black
}

#menu {
    background-color: rgb(229, 229, 229, 0.8);
    margin: 183px;
    height: 450px;
    width: 800px;
    padding: 15px;
    display: inline-grid;
    place-items: center;
    border: 10px;
    border-color: black;
    border-radius: 50px;
    gap: 30px;
    flex-direction: column;
    box-shadow: 0 0 40px white;
    backdrop-filter: blur(10px);
    position: relative
}

button {
    background-color: rgb(219, 219, 219);
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    padding: 20px 80px;
    opacity: 1;
    font-size: 23px;
    box-shadow: 0 0 10px black;
    animation: bounce 0.3s;
    transition: 0.3s;
}

h1 {
    font-style: oblique;
    place-content: center;
    font-size: 50px;
    margin: 700px auto;
    color: white;
    text-shadow: 0 0 20px #c048ff;
    position: absolute;
}

audio {
    margin: 200px auto;
    filter: drop-shadow(0px 0px 30px black) opacity(80%);
    animation: bounce 0.4s;
    backdrop-filter: blur(10px);
    position: absolute;
    scale: 75%;
    margin-right: 446px;
   
}

h4 {
    margin: 15px auto;
    color: white;
    text-shadow: 0 0 20px black;
    font-style: oblique;
    place-content: center;
    font-size: 20px;
    margin-left: 18px;
    
}

button:hover {
    padding: 30px 50px;
    box-shadow: 0 0 100px #c048ff;
    background-color: white;
}

#menu2 {
    background-color: rgb(255, 255, 255, 0.8);
    margin: 80px;
    height: 700px;
    width: 1000px;
    padding: 1px;
    place-items: center;
    border: 10px;
    border-color: black;
    border-radius: 50px;
    gap: 1px;
    flex-direction: column;
    box-shadow: 0 0 40px white;
    backdrop-filter: blur(10px);
}

h3 {
    color: white;
    text-shadow: 0 0 20px rgb(0, 0, 0);
    font-style: oblique;
    place-content: center;
    font-size: 30px;
}

h5 {
    font-style: oblique;
    place-content: center;
    font-size: 70px;
    margin: -50px auto;
    color: white;
    text-shadow: 0 0 20px white;
}

#SEB {
    display: block;
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(0px 0px 10px black);
}


@keyframes fadein {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

#menu3 {
    background-color: rgb(255, 255, 255, 0.8);
    margin: 80px;
    height: 700px;
    width: 500px;
    padding: 1px;
    place-items: center;
    border: 10px;
    border-color: black;
    border-radius: 50px;
    gap: 1px;
    flex-direction: column;
    box-shadow: 0 0 40px white;
    backdrop-filter: blur(10px);
}

#Pfp {
    width: 250px;
    height: 250px;
    margin: 16px;
    filter: drop-shadow(0px 0px 10px white);
    animation: hover-pf 2s infinite ease-in-out;
    position: absolute;
    margin-left: 27px

}

@keyframes bounce {
    10% {
        scale: 10%;
    }

    50% {
        scale: 110%;
    }

    100% {
        scale: 100%;
    }
}

@keyframes hover-pfp {
    0% {
        margin: 16px
    }

    50% {
        margin: 20px
    }

    100% {
        margin: 26px
    }
}

#Button1 {
    margin: 485px;
    height: 100px;
    width: 500px;
    padding: 15px;
    display: flex;
    place-items: center;
    border: 10px;
    border-color: black;
    border-radius: 50px;
    gap: 30px;
    flex-direction: column;
    position: absolute;
    margin-left: 880px;
    position:absolute;
}

#Pback {
    box-shadow: 0 0 40px black;
    background-color: rgb(219, 219, 219, 0.8);
    margin: 260px;
    height: 350px;
    width: 300px;
    padding: 15px;
    border: 10px;
    border-color: black;
    border-radius: 50px;
    gap: 30px;
    flex-direction: column;
  
    backdrop-filter: blur(10px);
    position: absolute;
    margin-right: 710px;
    animation: bounce 0.5s;
    transition: 0.3s;
    perspective: 1000px;
    transform-style: preserve-3d;
}

#Pback:hover {
    transform: scale(1.03); transform: rotatex(10deg) rotateY(10deg) translatez(50px) translateY(-10px);
}

#Top {
    background-color: rgb(219, 219, 219, 0.50);
    height: 100px;
    width: 2000px;
    position: fixed;
    margin: -60px;
    box-shadow: 0 0 50px white;
    backdrop-filter: blur(10px);
}

#BottoB {
    background-color: rgb(219, 219, 219, 0.50);
    height: 100px;
    width: 2000px;
    position: fixed;
    margin: 880px;
    box-shadow: 0 0 50px white;
    backdrop-filter: blur(10px);
}
#MusicB {
    background-color: rgb(255, 255, 255, 0.8);
    height: 50px;
    width: 300px;
    position: fixed;
    margin: 140px;
    box-shadow: 0 0 40px white;
    backdrop-filter: blur(10px);
    margin-right: 590px;
    border-radius: 10px
}
