body{
    margin: 50px;
    justify-content: flex-end;
    align-items: center;
    min-height: 500px;
    display:flex;
   flex-direction: column;
}



#square {
    opacity: 0.5;
    margin:auto;
    border-radius: 10px;
    width: 100px;
    background-color: black

    
    
    

}

div {
    background-color: rgb(0, 0, 0 , 0.5);
    margin: 0 auto;
    height: 210px;
    width: 250px;
    padding: 1px;
    display: grid;
    align-items:flex-start;
    place-items:center;
    border: 10px;
    border-color: black;
    border-radius: 10px;
    gap: 0px;
    flex-direction:column;


   
}

button {
    background-color: black;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    padding: 20px 40px;
    opacity: 1;
    font-size: 23px ;
}

h1 {
    font-style: oblique;
    place-content: center;
    font-size: 40px;
    margin: 10px auto;
}

