body {
    margin: 0 auto;
    justify-content: flex-end;
    align-items: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(download-2.gif);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 300px black;
    animation: fadein 0.5s;
}



#square {
    opacity: 0.5;
    margin:auto;
    border-radius: 10px;
    width: 100px;
    background-color: black

    
    
    

}

#menu {
    background-color: rgb(255, 255, 255, 0.8);
    margin:183px ;
    height: 450px;
    width: 400px;
    padding: 15px;
    display: grid;
    align-items: flex-end;
    place-items: center;
    border: 10px;
    border-color: black;
    border-radius: 10px;
    gap: 10px;
    flex-direction: column;
    box-shadow:
     0 0 40px white;

}

button {
    background-color: rgb(219, 219, 219);
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    padding: 25px 35px;
    opacity: 1;
    font-size: 23px ;
    box-shadow:
    0 0 10px black;

    transition: 0.3s;
}

h1 {
    font-style: oblique;
    place-content: center;
    font-size: 50px;
    margin: -150px auto;
    color: white;
    text-shadow: 0 0 20px white;
}

audio {
    margin: -560px auto;
    filter: drop-shadow(0px 0px 30px white);
}

h4 {
    margin: 580px auto;
    color: white;
    text-shadow: 0 0 20px white;
    font-style: oblique;
    place-content: center;
    font-size: 20px;
}

button:hover {
    padding: 30px 50px;
    box-shadow: 0 0 100px red;
    background-color: white;
}

#menu2 {
    background-color: rgb(255, 255, 255, 0.8);
    margin: 80px;
    height: 700px;
    width: 1000px;
    padding: 1px;


    place-items: center;
    border: 10px;
    border-color: black;
    border-radius: 10px;
    gap: 1px;
    flex-direction: column;
    box-shadow: 0 0 40px white;
}

h3 {

    color: white;
    text-shadow: 0 0 20px rgb(0, 0, 0);
    font-style: oblique;
    place-content: center;
    font-size: 30px;
}

h5 {
    font-style: oblique;
    place-content: center;
    font-size: 70px;
    margin: -50px auto;
    color: white;
    text-shadow: 0 0 20px white;
}

#SEB {
    display: block;
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(0px 0px 10px black);
}


@keyframes fadein {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

#menu3 {
    background-color: rgb(255, 255, 255, 0.8);
    margin: 80px;
    height: 700px;
    width: 500px;
    padding: 1px;
    place-items: center;
    border: 10px;
    border-color: black;
    border-radius: 10px;
    gap: 1px;
    flex-direction: column;
    box-shadow: 0 0 40px white;
}

#Pfp {
    width: 130px;
    height: 130px;
    margin: 760px;
    position: absolute;
    filter: drop-shadow(0px 0px 10px white);
}
